:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;

  /*background shades*/
  --background-primary-1: rgba(22, 21, 35, 255);
  --background-primary-2: rgba(37, 33, 48, 255);

  /*font shades*/
  --font-white-1: white;
}
$background-primary-1: rgba(22, 21, 35, 255);
$font-white1: white;
$border-default: 0.2rem solid darkgray;

.border-styled-default {
  border: $border-default;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0.4rem;
}

.border-styled-default-colorless {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0.4rem;
}

.border-videolist {
  @extend .border-styled-default-colorless;
  border-radius: 1rem;
}
body {
  background-color: $background-primary-1;
  margin: 0rem;
  ul {
    list-style-type: none;
    padding: 0;
  }
  /*   margin: 5rem;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: 578px) {
    margin: 0rem 1rem 1rem 1rem !important;
  }

  @media screen and (min-width: 1046px) {
    margin: 0rem 3rem 1rem 3rem !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-header {
  font-size: 1.3rem;
  @media screen and (min-width: 1025px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 1.8rem;
  }
}
.navLink {
  list-style-type: none;
  text-decoration: none !important;
  color: $background-primary-1;
}

.section-searchbar-wrapper {
  position: sticky;
  top: 0;
  margin-bottom: 1rem !important;
  z-index: 100;
  width: 100%;

  background-color: var(--background-primary-1);
}
.border {
  margin: 1rem 1rem 1rem 1rem !important;
}
.searchComponent {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: auto;

  button {
    width: 100%;
    margin-top: 1rem;
    border-radius: 30px;
    padding: 0rem 1rem 0rem 1rem;
    height: 40px;
  }
}

.heading1 {
  padding: -1rem;
  margin: 1rem;
  font-size: 1rem;
  color: white;
}

.heading2 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.heading3 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.heading4 {
  margin: -2rem 0rem 0.2rem -1rem;
  padding-top: 0px;
  font-size: 1.2rem;
}
.text-center {
  text-align: center;
  color: white;
}

.searchBar {
  width: auto;
  height: 42px;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  input {
    border-radius: 30px;
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 10px;
    background: white;
  }
}

main {
  background-color: var(--background-primary-1);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  @media screen and (min-width: 578px) {
    width: 100%;
  }
}

.section-video-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: 1rem 0rem 0rem 1rem;
  margin: 1rem 0rem 0rem 0.4rem;
}
.video-list-wrapper {
  display: flex;
  width: 95%;
  //overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 0.3rem 0.3rem 0.3rem 0rem;
  margin-left: -1rem;

  ul li {
    &:first-child {
      padding-left: 0.3rem !important;
    }
  }

  /* width */
  &::-webkit-scrollbar {
    //height: 10px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgb(221, 220, 218);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #727272;
    border-radius: 20rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    //background: #555;
    background: rgb(62, 60, 60);
  }
}

.inner-slider {
  display: flex;
  top: 0;
  left: 1rem;
  height: 92%; /*of the parent element ->aka the slider in this case*/
  width: 100%;
  align-items: center;
  overflow-x: scroll;
}

.main-history-favorites-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 769px) {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .last-searches-wrapper {
    width: auto;
    @extend .border-styled-default;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .heading3 {
      align-items: center;
    }
    .history-list {
      width: auto;
      display: grid;
      grid-template-columns: 100%;
      justify-content: end;

      //align-items: flex-end;
      //display: grid;
      //justify-content: space-around;
      //align-items: stretch;
      // margin-left: 0px;
      background-color: yellow;
      // justify-content: space-around;
      //width: 100%;
      // display: flex;
      //justify-content: center;
      // align-self: center;
      //width: auto;
      //align-items: center;
      //width: 100%;
    }
    @media screen and (min-width: 769px) {
      width: auto;
    }
  }
  .fav-wrapper {
    @extend .border-styled-default;
    display: flex;
    width: auto;
    flex-direction: column;
    .heading3 {
      align-self: start;
    }
    @media screen and (min-width: 578px) {
      width: auto;
      align-items: center;
    }
    .favorites-main-view {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 0.5rem;
      justify-content: space-around;
      justify-items: center;
    }
  }
}

.favorites-favpage-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center !important;
  align-items: center;
  max-width: 40rem;
  gap: 0.5rem;
}

.comment-favpage-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container {
  margin: 1rem;
}
